header {
  background-color: #eee;
  padding: 0 0.5em;
  height: var(--height);
  display: flex;
  align-items: center;

  a {
    display: flex;
    gap: 0.5em;
    align-items: center;

    text-decoration: inherit;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    img {
      height: 2.5em;
    }

    span {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
}
