div.content {
  display: flex;
  flex-flow: column;

  nav {
    display: flex;
    gap: 0.3em;
  }

  div.error {
    height: 2em;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  div.loading {
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }

  tbody {
    .qty,
    .price {
      text-align: right;
    }
  }
}
