<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <app-async-button
        [action]="refresh()"
        [icon]="faRotateRight"
        label="Rafraîchir"
        (start)="resetErrorMsg()"
        (error)="setErrorMsg($event)"
      ></app-async-button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-button
        [hidden]="selectedArticles.size === 0"
        [action]="remove()"
        [icon]="faTrashAlt"
        label="Supprimer"
        (start)="resetErrorMsg()"
        (error)="setErrorMsg($event)"
      ></app-async-button>
    </nav>
    <div class="error">{{ errorMsg }}</div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="articleService.articles$.value === undefined; else loaded">
          <td colspan="3">
            <div class="loading">
              <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
              <span>Chargement...</span>
            </div>
          </td>
        </tr>
        <ng-template #loaded>
          <tr
            *ngFor="let a of articleService.articles$ | async"
            (click)="select(a)"
            [class.selected]="selectedArticles.has(a)"
          >
            <td class="name">{{ a.name }}</td>
            <td class="price">{{ a.price }} €</td>
            <td class="qty">{{ a.qty }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</main>
