<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <span>Nom</span>
      <input type="text" formControlName="name" appAutofocus="select" />
      <span class="error">
        <span *ngIf="f.controls.name.invalid && f.controls.name.touched">
          <span *ngIf="f.controls.name.errors?.['minlength']">
            Le nom doit avoir au moins
            {{ f.controls.name.errors?.['minlength'].requiredLength}}
            caractères.
          </span>
          <span *ngIf="f.controls.name.errors?.['required']">
            Champs requis.
          </span>
        </span>
      </span>
    </label>
    <label>
      <span>Prix (€)</span>
      <input type="number" formControlName="price" />
      <span class="error">
        <span *ngIf="f.controls.price.invalid && f.controls.price.touched">
          <span *ngIf="f.controls.price.errors?.['required']">
            Champs requis.
          </span>
        </span>
      </span>
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" formControlName="qty" />
      <span class="error">
        <span *ngIf="f.controls.qty.invalid && f.controls.qty.touched">
          <span *ngIf="f.controls.qty.errors?.['required']">
            Champs requis.
          </span>
        </span>
      </span>
    </label>
    <div class="error">
      {{ errorMsg }}
    </div>
    <button
      type="submit"
      class="primary"
      [disabled]="isSubmitting || f.invalid"
    >
      <fa-icon
        [icon]="isSubmitting ? faCircleNotch : faPlus"
        [spin]="isSubmitting"
      ></fa-icon>
      <span>Ajouter</span>
    </button>
  </form>
</main>
