<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet adipisci,
    quisquam sequi maxime consequatur odio molestiae tempore, cupiditate qui
    repellat nobis hic cumque magnam! Obcaecati deserunt tempore animi
    doloremque ipsam.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum itaque
    fugiat velit facere, quo, odit voluptate explicabo ipsa, tenetur illum
    mollitia ullam placeat numquam sequi quasi error quis quibusdam consequuntur
    at dolor esse deserunt reiciendis optio! Earum illum sunt reprehenderit quae
    perferendis omnis, eveniet nesciunt placeat minima cum obcaecati a at, nemo
    quasi, asperiores repudiandae eligendi aliquid vero officia vel corporis
    eius alias. Beatae nemo voluptatum earum tempore odio aperiam, distinctio
    maxime corporis vitae porro alias aliquid, saepe corrupti itaque cumque
    natus ratione nisi. Ea, architecto, laborum asperiores natus, suscipit
    temporibus qui iure omnis earum itaque repellendus deleniti commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet adipisci,
    quisquam sequi maxime consequatur odio molestiae tempore, cupiditate qui
    repellat nobis hic cumque magnam! Obcaecati deserunt tempore animi
    doloremque ipsam.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum itaque
    fugiat velit facere, quo, odit voluptate explicabo ipsa, tenetur illum
    mollitia ullam placeat numquam sequi quasi error quis quibusdam consequuntur
    at dolor esse deserunt reiciendis optio! Earum illum sunt reprehenderit quae
    perferendis omnis, eveniet nesciunt placeat minima cum obcaecati a at, nemo
    quasi, asperiores repudiandae eligendi aliquid vero officia vel corporis
    eius alias. Beatae nemo voluptatum earum tempore odio aperiam, distinctio
    maxime corporis vitae porro alias aliquid, saepe corrupti itaque cumque
    natus ratione nisi. Ea, architecto, laborum asperiores natus, suscipit
    temporibus qui iure omnis earum itaque repellendus deleniti commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet adipisci,
    quisquam sequi maxime consequatur odio molestiae tempore, cupiditate qui
    repellat nobis hic cumque magnam! Obcaecati deserunt tempore animi
    doloremque ipsam.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum itaque
    fugiat velit facere, quo, odit voluptate explicabo ipsa, tenetur illum
    mollitia ullam placeat numquam sequi quasi error quis quibusdam consequuntur
    at dolor esse deserunt reiciendis optio! Earum illum sunt reprehenderit quae
    perferendis omnis, eveniet nesciunt placeat minima cum obcaecati a at, nemo
    quasi, asperiores repudiandae eligendi aliquid vero officia vel corporis
    eius alias. Beatae nemo voluptatum earum tempore odio aperiam, distinctio
    maxime corporis vitae porro alias aliquid, saepe corrupti itaque cumque
    natus ratione nisi. Ea, architecto, laborum asperiores natus, suscipit
    temporibus qui iure omnis earum itaque repellendus deleniti commodi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet adipisci,
    quisquam sequi maxime consequatur odio molestiae tempore, cupiditate qui
    repellat nobis hic cumque magnam! Obcaecati deserunt tempore animi
    doloremque ipsam.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum itaque
    fugiat velit facere, quo, odit voluptate explicabo ipsa, tenetur illum
    mollitia ullam placeat numquam sequi quasi error quis quibusdam consequuntur
    at dolor esse deserunt reiciendis optio! Earum illum sunt reprehenderit quae
    perferendis omnis, eveniet nesciunt placeat minima cum obcaecati a at, nemo
    quasi, asperiores repudiandae eligendi aliquid vero officia vel corporis
    eius alias. Beatae nemo voluptatum earum tempore odio aperiam, distinctio
    maxime corporis vitae porro alias aliquid, saepe corrupti itaque cumque
    natus ratione nisi. Ea, architecto, laborum asperiores natus, suscipit
    temporibus qui iure omnis earum itaque repellendus deleniti commodi!
  </p>
</main>
